<!-- 引入 nprogress 加载进度条的css文件 -->
<link rel="stylesheet" href="node_modules/nprogress/nprogress.css">
<!-- 引入 nprogress 加载进度条的js文件 -->
<script src="node_modules/nprogress/nprogress.js"></script>
<script src="public/js/jquery-3.5.1.min.js"></script>
<script>
    NProgress.start(); // 开启进度条
    NProgress.set(0.2);
    window.onload = function() {
        NProgress.done(); // 关闭进度条
    };

    // 全局设置
    $.ajaxSetup({
        beforeSend: function() {
            NProgress.start(); // 开启进度条
        },
        complete: function() {
            NProgress.done(); // 关闭进度条

        }
    });
</script>